.user-list {
    width: 600px;
    margin: 20px auto;
}

.user-list li {
    color: #5038d8;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    background: #d9ff00;
    padding: 10px;
    margin-bottom: 5px;
}