<header class="main-header">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__list-item"><a class="<%= path === '/add-user' ? 'active' : '' %>" href="/add-user">Add User</a></li>
            <li class="main-nav__list-item"><a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a></li>
        </ul>
    </nav>
</header>